- content_for :css do
  = stylesheet_link_tag "static_pages"

- @page_title = "Публикації"

.static_pages_page
  %h2 Публикації
  .new_static_page
    - if current_user
      = link_to "Добавить статью", new_admin_static_page_path, :class => :button
  -if @static_pages.blank?
    %h3 Публікацій немає
  -else
    %ul.static_pages
      - @static_pages.each do |static_page|
        %li.static_page
          %h3= link_to static_page.name, static_page
          .admin_nav
            - if current_user
              =link_to "Редактировать", edit_admin_static_page_path(static_page)
              &bull;
              =link_to "Удалить", admin_static_page_path(static_page), :method => :delete, :confirm => "Вы уверены?"
