=form_for @contest do |f|
  .field.wide
    =f.label :name, "Название конкурса"
    =f.text_field :name
  .field.wide
    =f.label :description, "Описание конкурса"
    =f.text_area :description, :class => "mceEditor"
  .field.wide
    =f.label :rules, "Правила конкурса"
    =f.text_area :rules, :class => "mceEditor"
  .action
    = f.submit
    %small= link_to "Назад", contests_path
    -unless @contest.new_record?
      %p= link_to "Удалить", @contest, :method => :delete, :confirm => "Конкурс будет удален со всеми участниками!"
