- content_for :css do
  = stylesheet_link_tag "admin"
.content
  %h2 
    Переместить или удалить все фотографии альбома
    %em=@category
  
  -if @destroy_category
    %h3 Альбом будет удален
  
  -if @other_categories.present?
    -form_tag bulk_update_admin_photos_path, :method => :put do
      =hidden_field_tag :category_id, @category.id
      =label_tag :move_to_category_id, "Переместить в:"
      =collection_select :move_to, :category_id, @other_categories, :id, :name
      =hidden_field_tag :destroy_category, true if @destroy_category
      =submit_tag "Продолжить"
  -else
    %p
      У вас нет альбомов, в которые можно переместить фотографии из этого альбома.
      =link_to "Добавить альбом", new_admin_category_path
  
  %p
    %strong ИЛИ
  
  -form_tag bulk_update_admin_photos_path, :method => :put do
    =hidden_field_tag :category_id, @category.id
    =hidden_field_tag :destroy_all, true
    =label_tag "Удалить все фотографии!"
    =hidden_field_tag :destroy_category, true if @destroy_category
    =submit_tag "О, нет!", :confirm => "Вы уверены? Удаленные фотографии нельзя будет восcтанавить"
  
  %p
    %strong ИЛИ
  
  %p=link_to "Вернуться обратно в альбом", admin_category_path(@category)
