=javascript_include_tag "jcrop"
=javascript_include_tag "crop_image"
=stylesheet_link_tag "jcrop"
=stylesheet_link_tag "admin"

- @page_title = "Обрезать фотографию" 


.content
  %h2 Обрезать фотографию
  %p Откорректируйте нужный размер и форму рамки, перетащите ее, затем нажмите Обрезать. Учитывайте, что настоящая фотография в 4 раза больше.
  =image_tag @photo.picture(:original), :class => :croppable
  -form_for [:admin, @photo] do |f|
    -%w(x y w h x2 y2).each do |attr|
      =f.hidden_field "crop_#{attr}", :id => "crop_#{attr}"
    =f.hidden_field :crop_needed, :id => "crop_needed"
    %p Это необрезнанная версия фотографии. Текущая обрезанная версия не изменится, если вы не измените края рамки кадрирования. Если вы не выберете:
    %p
      =f.check_box :reset_cropping
      =f.label :reset_cropping, "Вернуть полную фотографию обратно"
    %p в этом случае изменения кропа не сохранятся и вы получите картинку обратно, словно ничего и не было
    %h3 Choose the way this picture should be aligned when browser window is resized
    %div{:class => "alignment_preview #{@photo.alignment}"}
      =image_tag @photo.picture(:small)
      .border
    -["top", "center", "bottom"].each do |alignment_type|
      %p
        =f.radio_button :vertical_alignment, alignment_type, :class => :vertical_alignment, :checked => alignment_type.eql?(@photo.alignment)
        =f.label :vertical_alignment, alignment_type.humanize, :value => alignment_type
    .cl
    %p
      =f.submit "Обрезать"
      &nbsp;
      =link_to "Отмена", admin_category_path(@photo.category_id)
    %p Необходимо несколько секунд, чтоб наши кропотливые гномы завершили обрезание вашей фотографии. Если вы не увидели нужного результата - перезагрузите страницу альбома.
