#albums {
	position: absolute;
	top: 84px;
	left: 5%;
	width: 980px;
}

#albums .albums_list ul.categories {
	list-style: none;
	padding: 0;
}

#albums .albums_list ul.categories li {
	display: inline-block;
  position: relative;
  width: 200px;
  margin: 10px;
  height: 200px;
  margin: 10px;
}

#albums .albums_list ul.categories li img {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 0;
  top: 0;
  z-index: 3;
  border-radius: 3px;
  border: 3px solid #eee;
}

#albums .albums_list ul.categories li img.second {
  height: 200px;
  width: 200px;
  z-index: 2;
  opacity: 0.7;
}

#albums .albums_list ul.categories li img.third {
  height: 200px;
  z-index: 1;
  width: 200px;
  opacity: 0.5;
}

#albums .albums_list ul.categories li .caption {
	position: absolute;
	top: 210px;
}

.edit_album {
	position: absolute;
	top: 84px;
	left: 5%;
}

#album {
	position: absolute;
	top: 84px;
	left: 5%;
}

#album ul {
	list-style: none;
	padding: 0;
}

#album ul li {
	display: inline-block;
  position: relative;
  width: 300px;
  margin: 10px;
}

#album ul li a {
  text-decoration: none;
}

#album ul li a img {
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  border-radius: 3px;
  border: 3px solid #eee;
}

#album ul li a img.second {
  z-index: 2;
  opacity: 0.7;
}

#album ul li a img.third {
  z-index: 1;
  opacity: 0.5;
}

.photo_form {
	position: absolute;
	top: 84px;
	left: 5%;
}

.photo_form .field {
	margin-bottom: 10px;
	width: 400px;
	float: left;
}

.photo_form .field label {
	display: block;
	font-size: 14px;
	margin: 10px 0;
}

.photo_form .field textarea {
	width: 260px;
	height: 120px;
}

.photo_form .action {
	width: 100%;
	clear: both;
	text-align: left;
}

.content {
	position: absolute;
	top: 84px;
	left: 5%;
}
