ul.calendar_months {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.calendar {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 2px #ccc;
  padding: 10px;
}

table.calendar {
  border-collapse: none;
  border-spacing: 10px;
}

table.calendar thead th {
  font-weight: normal;
  font-size: 20px;
}

table.calendar thead tr.dayName th {
  font-size: 12px;
  padding: 10px 0 0 0;
}

table.calendar td {
  background: #f1eee5;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

table.calendar td.otherMonth {
  background: #fff;
  color: #aaa;
}

table.calendar td.weekendDay {
  color: #cc0000;
}

table.calendar td.free {
  box-shadow: 0 0 2px #ccc;
}

table.calendar td.busy {
  background: #ddd;
  border-color: #ddd;
  color: #aaa;
}

ul.months li.current a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

ul.legend {
  position: absolute;
  right: 0;
  width: 200px;
  list-style-type: none;
  margin: -10px 0 0 0;
  padding: 0;
}

ul.legend li {
  margin: 20px 0;
}

ul.legend li .busy_day,
ul.legend li .free_day {
  background: #ddd;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  color: #bbb;
}

ul.legend li .free_day {
  background: #f1eee5;
  color: #000;
  border-color: #f1eee5;
}
