#content {
  padding: 0;
  background: rgb(224,224,224); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(255,255,255,1) 21%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(21%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(255,255,255,1) 21%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(255,255,255,1) 21%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(255,255,255,1) 21%); /* IE10+ */
  background: linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(255,255,255,1) 21%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#content a {
  color: #333;
}

.top_bar {
}

#showcase {
  background: #333;
  padding: 5px 0;
  overflow-x: hidden;
  box-shadow: 0 5px 5px #999;
}

#showcase .pusher {
  width: 140%;
}

#showcase #big_photo {
  float: left;
  margin: 0 5px;
}

#showcase #small_photos {
  height: 405px;
  overflow: hidden;
}

#showcase #big_photo img {
  height: 405px;
  width: auto;
  min-width: 200px;
}

#showcase #small_photos img {
  height: 200px;
  width: auto;
  min-width: 60px;
  display: inline-block;
}

#showcase .caption {
  position: absolute;
  bottom: 5px;
  left: 1px;
  right: 1px;
  padding: 5px 0;
  background: rgba(238,238,238,0.7);
}

#showcase .caption h3 {
  margin: 0 10px;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
}

#showcase a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

#showcase a:hover {
  color: #cc0000;
  text-decoration: underline;
}

#showcase #small_photos a .caption {
  display: none;
}

#showcase #small_photos a:hover .caption {
  display: block;
}

#showcase #small_photos a .caption h3 {
  font-size: 12px;
}

#showcase ul.photographers_list a:hover {
  text-decoration: none;
}

.article {
  margin: 10px 0;
}

h2 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.article p {
  font-size: 14px;
  line-height: 18px;
}

ul#latest_publications {
  margin: 0;
  padding: 0;
}

ul#latest_publications li {
  display: inline-block;
  width: 30%;
  margin: 10px 3% 0 0;
}

ul#latest_publications .article h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 0 0;
  padding: 0 0 5px 0;
  text-transform: capitalize;
  border-bottom: 1px solid #ccc;
}

ul#latest_publications .article a {
  color: #333;
}

ul#latest_publications .article h3 a {
  text-decoration: none;
}

ul#latest_publications .article h3 a:hover {
  text-decoration: underline;
}

ul.photographers_list {
  margin: 0 5%;
}

ul.photographers_list li{
  position: relative;
  border-radius: 5px;
  display: block;
  width: auto;
  margin-right: 30%;
  overflow: visible;
  margin-top: 20px;
}

ul.photographers_list li h3{
  font-size: 24px;
}

ul.photographers_list li .meta .description {
  color: #555;
  font-size: 14px;
  margin-right: 20px;
}

ul.photographers_list li:before {
  content: "";
  font-size: 1px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #eee;
  left: 80px;
  top: -20px;
}

ul.photographers_list li:hover {
  box-shadow: none;
}

ul.photographers_list li:hover:before {
  border-bottom: 20px solid #f1eee5;
}

.bottleneck {
  width: 80%;
  margin-left: 10%;
}

#photographers_spotlight {
  height: 162px;
  overflow: hidden;
  margin: 10px 0;
}

#photographers_spotlight a {
  text-decoration: none;
  margin: 0 5px 0 0;
}

#photographers_spotlight img {
  border: 1px solid #ccc;
  height: 160px;
}
