.photographer_profile {
  position: relative;
  width: 95%;
  margin-left: 5%;
}

.photographer_profile h2 {
  font-weight: normal;
  font-size: 28px;
  margin-top: 20px !important;
}

.photographer_profile ul.menu {
  position: absolute;
  right: 0;
  top: 0px;
  margin-right: 5%;
}

.photographer_profile ul.menu li {
  display: inline-block;
  margin: 10px;
  margin-top: 0;
}

.photographer_profile ul.menu li a {
  text-decoration: none;
}

.photographer_profile ul.menu li.current {
  border-bottom: 2px solid #777;
}

.photographer_profile ul.photos {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.photographer_profile ul.photos li {
  margin: 0;
  padding: 0;
}

.photographer_profile ul.photos li img {
  box-shadow: 0 0 5px 0 #777;
  width: 900px;
  border-radius: 3px;
}

.photographer_profile ul.photo_previews {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.photographer_profile ul.photo_previews li {
  display: inline-block;
  margin: 0 5px;
}

.photographer_profile ul.photo_previews li img {
  width: 100px;
  opacity: 0.5;
  border: 4px solid transparent;
  cursor: pointer;
}

.photographer_profile ul.photo_previews li.current img {
  border: 4px solid #0047ab;
  border-radius: 2px;
  box-shadow: 0 0 5px #0047ab;
}

.photographer_profile ul.photo_previews:hover li img {
  opacity: 1;
}

.photographer_profile a.next_item,
.photographer_profile a.prev_item {
  position: fixed;
  top: 50%;
  font-size: 24px;
  font-weight: bold;
  padding: 100px;
  margin-top: -160px;
}

.photographer_profile a.next_item {
  right: 0;
  padding-right: 0;
}

.photographer_profile a.prev_item {
  left: 0;
  padding-left: 0;
}

.photographer_profile a.next_item img, 
.photographer_profile a.prev_item img {
  height: 60px;
  opacity: 0.30;
  background: #bbb;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.photographer_profile a.prev_item img {
  border-radius: 0 5px 5px 0;
}

.photographer_profile a.next_item:hover img,
.photographer_profile a.prev_item:hover img {
  background: #777;
  opacity: 0.5;
}

#info_tab, #calendar_tab {
  position: relative;
  width: 960px;
  left: 50%;
  margin-left: -480px;
  margin-bottom: 40px;
  padding: 20px 0;
}

#info_tab .userpic img {
  width: 400px;
}

#info_tab .info {
  position: absolute;
  left: 400px;
  right: 0;
  margin-left: 20px;
  margin-top: 0;
}

#info_tab .info ul {
  list-style-type: none;
  background: #f1eee5;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  border-radius: 5px;
}

#info_tab .info ul li {
  margin: 10px 0;
}

#info_tab .info ul li span {
  color: #555;
}

#info_tab .info ul li.minor,
#info_tab .info .description {
  font-size: 0.8em;
}

#info_tab .info .description {
  padding: 0 20px;
}

#calendar_tab .calendar {
  margin-left: 140px;
}

#calendar_tab ul.months {
  position: absolute;
  width: 120px;
  left: 0;
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0;
}

#calendar_tab ul.months li {
  font-size: 12px;
  margin: 10px;
  text-align: right;
}

.photographer_profile ul.galleries {
  padding: 0 0 20px 0;
}

.photographer_profile ul.galleries>li {
  margin: 20px 0;
  background: #eee;
  overflow: hidden;
  border: 1px solid #eee;
}

.photographer_profile ul.galleries>li:hover {
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s; /* Firefox 4 */
  -webkit-transition: box-shadow 0.5s; /* Safari and Chrome */
  -o-transition: box-shadow 0.5s; /* Opera */
  box-shadow: 1px 1px 5px #999;
  border: 1px solid #ccc;
  background: #f1eee5;
}

.photographer_profile ul.galleries>li>a {
  text-decoration: none;
}

.photographer_profile ul.galleries>li .caption {
  padding: 10px;
}

.photographer_profile ul.galleries>li .caption h3 {
  font-weight: normal;
  font-size: 20px;
  color: #333;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.photographer_profile ul.galleries>li ul.category_preview {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  height: 130px;
  width: 8000px;
}

.photographer_profile ul.galleries>li:hover ul.category_preview {
}

.photographer_profile ul.galleries>li ul.category_preview li {
  display: inline-block;
}
