.edit_profile {
	margin-top: 64px;
  padding-top: 10px;
  position: relative;
  width: 900px;
  left: 20%;
  display: block;
}


.edit_profile h2 {
	margin-bottom: 0;
	margin-top: 40px;
}

.edit_profile hr {
	border: 1px solid #999;
	border-bottom: 1px;
	height: 0;
}

.edit_profile .field.wide img {
	height: 200px;
	margin-top: 0;
}

.edit_profile .field { 
	margin-bottom: 10px;
	width: 400px;
	float: left;
	padding: 20px;
}

.edit_profile .field textarea {
	width: 70%;
	height: 120px;
}

.edit_profile .field.wide {
	width: 860px;
	height: auto;
}

.field small {
	padding: 10px 0;
	color: #777;
	display: block;
	font-size: 12px;
} 

.edit_profile .field label {
	display: block;
	font-size: 14px;
	margin: 10px 0;
}

.edit_profile .action {
	width: 100%;
	clear: both;
	text-align: left;
	padding: 20px;
}

.calendar {
  float: left;
}

.calendar td.free,
.calendar td.busy {
  cursor: pointer;
}

.calendar td.free:hover,
.calendar td.busy:hover {
  box-shadow: 0 0 5px blue !important;
}
