.edit_profile {
  padding-top: 10px;
  position: relative;
  width: 900px;
  left: 20%;
  display: block;
}


.edit_profile h2 {
	margin-bottom: 0;
	margin-top: 20px;
}

.edit_profile hr {
	border: 1px solid #999;
	border-bottom: 1px;
	height: 0;
}

.edit_profile .field.wide img {
	height: 200px;
	margin-top: 0;
}

.edit_profile .field { 
	margin-bottom: 10px;
	width: 400px;
	float: left;
	padding: 20px;
}

.edit_profile .field textarea {
	width: 70%;
	height: 120px;
}

.edit_profile .field.wide {
	width: 860px;
	height: auto;
}

.field small {
	padding: 10px 0;
	color: #777;
	display: block;
	font-size: 12px;
} 

.edit_profile .field label {
	display: block;
	font-size: 14px;
	margin: 10px 0;
}

.edit_profile .action {
	width: 100%;
	clear: both;
	text-align: left;
	padding: 20px;
}

#calendar_tab .calendar {
  margin-left: 140px;
}

#calendar_tab ul.months {
  position: absolute;
  width: 120px;
  left: 0;
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0;
}

#calendar_tab ul.months li {
  font-size: 12px;
  margin: 10px;
  text-align: right;
}

.calendar td {
  cursor: pointer;
}

.calendar td:hover {
  box-shadow: 0 0 5px #1560bd !important;
  transition: box-shadow 1s;
  -moz-transition: box-shadow 1s; /* Firefox 4 */
  -webkit-transition: box-shadow 1s; /* Safari and Chrome */
  -o-transition: box-shadow 1s; /* Opera */
}
