- content_for :css do
  = stylesheet_link_tag "user_edit"

- @page_title = "Настройки Аккаунта"
.edit_profile
  = render "users/edit_nav"
  %h2 Изменить адрес электронной почты или пароль
  %small Эти данные используются для входа в ваш аккаунт. Оставьте поля ввода пароля пустыми если не хотите менять пароль.
  = render "signup_form"