Вы были приглашены на сайт Украинской Ассоциации Свадебной Фотожурналистики.
= link_to "Зарегистрироваться", redeem_invitation_url(@invite.invite_code)
%br/
Или скопируйте эту ссылку в адресную строку браузера: 
= redeem_invitation_url(@invite.invite_code)