.invites
  %h2 Список электронных адресов для приглашения
  %ul
    - @invites.each do |invite|
      %li
        = invite.email
        - if invite.invited?
          Invited
        = link_to 'Destroy', admin_invite_path(:id), :confirm => 'Вы уверены?', :method => :delete

  = link_to 'Добавить электронный адрес для приглашения', new_admin_invite_path