-category ||= @category
-form_for [:admin, category] do |f|
  %label{:for => :name} 
    -if category.new_record?
      Добавить альбом с названием:
    -else
      Изменить название альбома:
  =f.text_field :name
  =f.submit category.new_record? ? "Добавить" : "Сохранить"
