.container
  .day
    =date.mday
    -if users.present?
      %small Зайняті:
    -else
      %small День вільний!

  %ul.free_users
    - users.each do |user|
      %li
        = link_to user do
          = image_tag(user.avatar.url(:icon), :size => "16x16")
          %span= user
.cl
