-content_for :css do
  =stylesheet_link_tag "calendar"
  =stylesheet_link_tag "full_screen_calendar"

-content_for :js do
  =javascript_include_tag "calendar"

.calendar_page
  %ul.calendar_months
    = month_calendar(@month) do |date|
      - busy_users = Array.wrap(@calendar_records[date.midnight.to_i].presence).map(&:user)
      - [render("calendar_records/date", :date => date, :users => busy_users), {:class => busy_users.blank? ? "free" : "busy"}]
