%li
  = link_to category.photos.first do
    .caption
      %h3= category.name 
    %ul.category_preview
      - if (preview_photos = category.photos.take(8)).present?
        - (preview_photos*5).each do |photo|
          %li= image_tag photo.picture.url(:thumb), :height => 200
